In [1]:
import pandas as pd
import openpyxl

In [15]:
f = open('result.txt', 'r')
data = pd.DataFrame(f)
print(len(data))

1681013

In [16]:
c1 = {}
c2 = {}
c3 = {}
Time = {}
data = pd.DataFrame(data[0].str.split('\t',3).tolist(),columns = ['c1','c2','c3','time'])

In [21]:
data['time'] = data['time'].str[:-1]
data

           c1    c2    c3  time
0        0.01  0.01  0.01  1000
1        0.01  0.01  0.02  1000
2        0.01  0.01  0.03   634
3        0.01  0.01  0.04  1000
4        0.01  0.01  0.05  1000
...       ...   ...   ...   ...
1681008  0.43  0.06  1.88  1000
1681009  0.43  0.06  1.89  1000
1681010  0.43  0.06   1.9  1000
1681011  0.43  0.06  1.91  1000
1681012  0.43  0.06  1.92  1000

[1681013 rows x 4 columns]

In [22]:
book = openpyxl.Workbook()
book.save('result.xlsx')
writer = pd.ExcelWriter('result.xlsx', engine='openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

In [28]:
# moving average
new_data = []
n = 10
avg = -1
for i in range(n, len(data) - n - 1):
    avg = 0
    for j in range(i-n, i + n + 1):
        avg += int(data['time'][j])
    avg /= 2*n
    new_data.append([data['c1'][i],data['c2'][i],data['c3'][i],avg])

In [29]:
min = 1000
min_pa = []
for i in range(len(new_data)):
    if(new_data[i][3] < min):
        min_pa = new_data[i]
        min = new_data[i][3]
print(min_pa)

['0.41', '0.03', '0.85', 710.45]